/* Навигация - список menu-list */


@media screen and (max-width: 1023px) {
    .menu-list {
    display: none;
    }
}


/*Ширина экрана, шрифт h1, шапка page-header*/

/*outline: 2px solid red; - рамка*/

@media screen and (max-width: 1023px) {
    .vacancy-container {
    width: 375px; 
    }
}


@media screen and (min-width: 1024px) { 
    .vacancy-container {
    width: 1024px; 
    }
    .page-header {
    padding-bottom: 64px;
    }
    h1 {
    font-size: 72px;
    line-height: 85px;
    }
}

@media screen and (min-width: 1920px) {
    .vacancy-container {
    width: 1920px;
    }
    .page-header {
    padding-bottom: 79px;
    }
    h1 {
    font-size: 72px;
    line-height: 85px;
    }
}




@media screen and (max-width: 1023px) {
    .yellow-main-page {
    background: linear-gradient(to right, #FAFAFA 20%, #FFEA2F 20%);
    }
    .blue-main {
    background: linear-gradient(to right, #FAFAFA 20%, #D3D1E9 20%);
    }
}

@media screen and (min-width: 1024px) {
    .yellow-main-page {
    background: linear-gradient(to right, #FAFAFA 10%, #FFEA2F 10%);
    }
    .blue-main {
    background: linear-gradient(to right, #FAFAFA 10%, #D3D1E9 10%);
    }
}

@media screen and (min-width: 1920px) {
    .yellow-main-page {
    background: linear-gradient(to right, #FAFAFA 40%, #FFEA2F 40%);
    }
    .blue-main {
    background: linear-gradient(to right, #FAFAFA 40%, #D3D1E9 40%);
    }
}



/* Картинка лампочка на фоне*/

@media screen and (max-width: 1023px) {
    .frame-light {
    padding: 0 17px 38px 17px;
    text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .frame-light {
    padding: 0 22px 88px 169px;
    text-align: center;
    }
}

@media screen and (min-width: 1920px) {
    .frame-light {
    text-align: right;
    padding: 0 464px 29px 1131px;
    }
}



/* Картинка единорога на фоне*/

@media screen and (max-width: 1023px) {
    .frame-unicorn {
    padding: 0 15px 313px 15px;
    text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .frame-unicorn {
    padding: 0 22px 88px 169px;
    text-align: center;
    }
}

@media screen and (min-width: 1920px) {
    .frame-unicorn {
    padding: 0 464px 29px 1131px;
    }
}






/*СПИСОК ВАКАНСИЙ*/

/*width: 50%;*/
/*flex-basis: 50%;*/

/*Образец*/

/*@media screen and (min-width: 1024px) {
    .vacancy-container {
    display: flex;
    flex-wrap: wrap;
    }
    .vacancy-item {
    width: 450px;
    flex-basis: 50%;
    padding-top: 300px;
    padding-bottom: 50px;
    }
}

@media screen and (min-width: 1920px) {
    .vacancy-container {
    display: flex;
    flex-wrap: wrap;
    }
    .vacancy-item {
    width: 505px;
    flex-basis: 33.3333%;
    padding-top: 400px;
    padding-bottom: 50px;
    }
}

@media screen and (min-width: 1920px) {
    .vacancy-item:not(:last-child) {
    margin-bottom: 40px;
    }
}
*/

/*Образец для прямоугольных элементов*/

/*@media screen and (min-width: 1920px) {
    .vacancy-container {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
    padding-left: 118px;
    padding-right: 118px;
    }
    .vacancy-item {
    width: calc((100% - 6 * 20px) / 3);
    margin: 20px;
    padding-top: 415px;
    padding-bottom: 50px;
    }
}*/




@media screen and (max-width: 1023px) {
    .vacancy-container {
    padding-left: 15px;
    padding-right: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .vacancy-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    }
    .vacancy-item {
    width: 450px;
    margin: 15px;
    padding-top: 360px;
    padding-bottom: 50px;
    }
}

@media screen and (min-width: 1920px) {
    .vacancy-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 118px;
    padding-right: 118px;
    justify-content: center;
    }
    .vacancy-item {
    width: 505px;
    margin: 20px;
    padding-top: 415px;
    padding-bottom: 50px;
    }
}



/*Настойка паддингов в списке вакансий*/

@media screen and (min-width: 1024px) {
    .vacancy-item:not(:last-child) {
    margin-bottom: 15px;
    }
}

@media screen and (min-width: 1920px) {
    .vacancy-item:not(:last-child) {
    margin-bottom: 20px;
    }
}



/*Блоки страниц, паддинги*/

@media screen and (max-width: 375px) {
    .block-home,
    .block-career {
    padding-left: 15px;
    padding-right: 15px;
    }
}









/*Ширина экрана, прошлый вариант*/

/*@media screen and (min-width: 375px) {
    .page-header,
    .block-career, 
    .page-footer {
    width: 375px;
    }
}

@media screen and (min-width: 1024px) {
    .page-header, 
    .block-career, 
    .page-footer {
    width: 1024px;
    }
}

@media screen and (min-width: 1920px) {
    .page-header,
    .block-career, 
    .page-footer {
    width: 1920px;
    }
}*/



/*Список вакансий*/

/*@media screen and (min-width: 1024px) {
    .vacancy-item {
    width: 450px;
    }
}

@media screen and (min-width: 1920px) {
    .vacancy-item {
    width: 505px;
    }
}*/


