/*Кнопка смены языка*/

@media screen and (min-width: 1200px) {
    .language {
    height: 120px;
    width: 120px;
    }
}


/*Ширина экрана, шрифт для всех h1, шапка page-header*/

/*outline: 2px solid red; - рамка*/

@media screen and (max-width: 1023px) {
    .vacancy-container {
    width: 375px; 
    }
}


@media screen and (min-width: 1024px) { 
    .vacancy-container {
    width: 1024px; 
    }
    .page-header {
    padding-bottom: 64px;
    }
    h1 {
    font-size: 72px;
    line-height: 85px;
    }
    .company {
    max-width: 867px;
    }
    .career {
    max-width: 603px;
    }
}


@media screen and (min-width: 1200px) {
    .vacancy-container {
    width: 1200px;
    }
    .company {
    max-width: 1077px;
    }
    .career {
    max-width: 603px;
    }
}


@media screen and (min-width: 1920px) {
    .vacancy-container {
    width: 1920px;
    }
    .company {
    max-width: 1077px;
    }
    .career {
    max-width: 603px;
    }
}





/*Параграфы p под h1*/

@media screen and (max-width: 1199px) { 
   .desktop-description {
    display: none;
    }
}

@media screen and (min-width: 1024px) {
    .company-description {
    font-size: 24px;
    line-height: 30px;
    max-width: 459px;
    }
    .career-description {
    font-size: 24px;
    line-height: 30px;
    max-width: 606px;
    }
}

@media screen and (min-width: 1200px) { 
    .mobile-description {
    display: none;
    }
}



/*Градиентный фон*/

@media screen and (max-width: 1023px) {
    .wrapper-yellow {
    background: linear-gradient(to right, #FAFAFA 20%, #FFEA2F 20%);
    }
    .header-blue,
    .block-blue {
    background: linear-gradient(to right, #FAFAFA 20%, #D3D1E9 20%);
    }
}

@media screen and (min-width: 1024px) {
    .wrapper-yellow {
    background: linear-gradient(to right, #FAFAFA 9%, #FFEA2F 9%);
    }
    .header-blue,
    .block-blue {
    background: linear-gradient(to right, #FAFAFA 9%, #D3D1E9 9%);
    }
}

@media screen and (min-width: 1200px) {
    .wrapper-yellow {
    background: linear-gradient(to right, #FAFAFA 15%, #FFEA2F 15%);
    }
    .header-blue,
    .block-blue {
    background: linear-gradient(to right, #FAFAFA 45%, #D3D1E9 45%);
    }
}



/*Логотип и бургер-меню*/

@media screen and (min-width: 1024px) {
    .menu-button {
    padding-top: 46px;
    padding-left: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
    /*padding-top: 23px;*/
    /*padding-left: 84px;*/
    }
}    


@media screen and (max-width: 1023px) {
    .block-container,
    .block-details,
    .company-description {
    display: block;
    }
}






/* Картинка лампочка на фоне*/

@media screen and (max-width: 1023px) {
    .frame-light {
    /*padding: 0 17px 38px 17px;*/
    text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .frame-light {
    /*padding: 0 22px 88px 169px;*/
    text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .frame-light {
    text-align: right;
   /* padding: 0 464px 29px 1131px;*/
    }
}






/*Ордеры и паддинги в block-main*/

@media screen and (max-width: 1023px) {
    .company {
    order: 0;
    }
    .company-description {
    order: 2;
    margin-top: -20px;
    }
    .details-2 {
    order: 1; 
    }
    .frame-unicorn {
    order: 0;
    }
}

@media screen and (min-width: 1024px) {
    .details-2 {
    padding-top: 25px;
    padding-right: 66px;
    }
    .company-description {
    padding-top: 15px;
    }
    .details-2 {
   /* padding-top: 109px;*/
    }
    .company-description {
     padding-top: 35px;
    }
}


@media screen and (max-width: 1023px) {
    .aside {
    display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .block-description {
    display: block;
    }
}

@media screen and (min-width: 1200px) {
    .block-description {
    display: flex;
    }
}



/*Картинка и текст меняются метсами в мобильной и планшетной версии*/

@media screen and (max-width: 1023px) {
    .block-container {
    display: flex;
    flex-flow: wrap;
    }
    .block-content {
    order: 1;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .block-container {
    flex-flow: column wrap;
    }
}




/*Карточки вакансий*/

@media screen and (max-width: 1023px) {
    .vacancy-container {
    padding-left: 15px;
    padding-right: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .vacancy-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    }
    .vacancy-item {
    width: 450px;
    margin: 15px;
    padding-top: 360px;
    padding-bottom: 50px;
    }
}


@media screen and (min-width: 1200px) {
    .vacancy-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    }
    .vacancy-item {
    width: 350px;
    margin: 15px;
    padding-top: 250px;
    padding-bottom: 10px;
    }
}


@media screen and (min-width: 1920px) {
    .vacancy-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 118px;
    padding-right: 118px;
    justify-content: center;
    }
    .vacancy-item {
    width: 505px;
    margin: 20px;
    padding-top: 415px;
    padding-bottom: 50px;
    }
}



/*Настройка в списке вакансий*/

@media screen and (min-width: 1024px) {
    .vacancy-item:not(:last-child) {
    margin-bottom: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .vacancy-item:not(:last-child) {
    margin-bottom: 20px;
    }
}



/*Отступ у заголовка списка вакансий h2 .vacancy*/


@media screen and (min-width: 1024px) {
    .vacancy {
    font-size: 72px;
    line-height: 85px;
    padding-left: 45px;
    }
}

@media screen and (min-width: 1200px) {
    .vacancy {
    /*padding-left: 187px;*/
    }
}



/*Блоки страниц, паддинги*/

@media screen and (max-width: 1023px) {
    .block-container,
    .block-career {
    padding-left: 15px;
    padding-right: 15px;
    }
}

/*@media screen and (min-width: 1024px) {
    .block-container,
    .block-career {
    padding-left: 30px;
    padding-right: 30px;
    }
}*/




/*Подвал*/

@media screen and (min-width: 1200px) {
    .footer-container {
    padding: 0 27px 0 27px;
    }
}

@media screen and (max-width: 1023px) {
    .footer-nav {
    display: none;
    }   
}

@media screen and (min-width: 1200px) {
    .footer-nav-link:not(:last-child) {   
    margin-right: 35px;
    }
}    
