body {
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-sizing: border-box;
}

.page-header {
    text-align: right;
    padding-bottom: 49px;
    outline: 2px solid #000;
}

.nav {
    font-family: Akrobat;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    outline: 2px solid #000;
    padding: 20px 1% 0 0;
}

.menu-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-item {
    display: inline-block;
    margin-left: 60px;
}


.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.menu-button .icon-cross {
    display: none;
}


.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}


.button-language {
    display: inline-block;
    margin: 0 0 0 100px;
    font-family: 'Akrobat', sans-serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;    
    background-color: #CE0002;
    color: #FFF;
    text-decoration: none;
    padding: 2.9% 2.4% 2.9% 2.4%;
    cursor: pointer;
}

.button-language:hover,
.button-language:focus {
    background-color: #CE0002;
}


/*Background-attachment устанавливает, будет ли прокручиваться фоновое изображение вместе с содержимым элемента (scroll, fixed, local)*/

/*.block-home {
    background: url("../img/Frame.png") right / 345px 322px, linear-gradient(to right, #FAFAFA 20%, #FFEA2F 20%) center;
    background-color: #FFEA2F;
    background-repeat: no-repeat;
    outline: 2px solid #000;
    min-height: 875px;
    margin-bottom: 7%;*/
    /*background-position: ;*/
    /* background-attachment: ;
    background-size: contain;*/
   /* background-attachment: ;
    background-size: contain;*/
/*}*/


/*.frame {
     width: 345px;
     margin-left: auto;
     margin-right: auto;
     padding: 0 15px 0 15px;
}*/


h1 {
    font-family: 'Zona Pro', sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    margin: 0;
}

.company-description {
    font-family: 'Akrobat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.button-details {
    display: inline-flex;
    font-family: 'Akrobat', sans-serif;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;    
    background-color: #CE0002;
    color: #FFF;
    text-decoration: none;
    padding: 2.9% 1.4% 2.9% 1.4%;
    cursor: pointer;
    position: relative;
}

.button-details:hover,
.button-details:focus {
    background-color: #CE0002;
}

.button-details::after {
    width: 90px;
    height: 20px;
    background-color: #CE0002;
    content: "";
    background-image: url("../img/Arrow3.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-top: 45%;
}


.page-footer {
    background-color: #EFEFEF;
    padding-bottom: 54px;
    margin: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.footer-coopyright{
     
}

.footer-nav {
    
}

.footer-socials {
    
}




.block-career {
    margin-left: auto;
    margin-right: auto;
    /*background-color: #D3D1E9;*/
    box-sizing: border-box;
}



/*.block-career-light {
    background: url("../img/Light-on.png");
    background-repeat: no-repeat;
    background-size: content;
    background-position: center;
    height: 324px;
    padding-bottom: 38px;
}*/




.vacancy {
    font-family: Zona Pro;
    font-weight: 800;
    font-size: 72px;
    line-height: 85px;
}

.vacancy-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.vacancy-item {
    padding-top: 250px;
    padding-bottom: 50px;
    background-color: #F5F5F5;
    font-family: Akrobat;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-indent: 26px;
}

span {
    text-indent: 1em;
}

.vacancy-item:not(:last-child) {
margin-bottom: 30px;
}


