/*Обнуление*/
*,*:before,*:after {
    padding: 0;
    margin: 0;
    border: 0;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}



/*Градиентный фон*/

@media screen and (max-width: 1023px) {
    .wrapper-yellow {
    background: linear-gradient(to right, #FAFAFA 20%, #FFEA2F 20%);
    }
    .header-blue,
    .block-blue {
    background: linear-gradient(to right, #FAFAFA 20%, #D3D1E9 20%);
    }
}

@media screen and (min-width: 1024px) {
    .wrapper-yellow {
    background: linear-gradient(to right, #FAFAFA 9%, #FFEA2F 9%);
    }
    .header-blue,
    .block-blue {
    background: linear-gradient(to right, #FAFAFA 9%, #D3D1E9 9%);
    }
}

@media screen and (min-width: 1200px) {
    .wrapper-yellow {
    background: linear-gradient(to right, #FAFAFA 15%, #FFEA2F 15%);
    }
    .header-blue,
    .block-blue {
    background: linear-gradient(to right, #FAFAFA 45%, #D3D1E9 45%);
    }
}


.wrapper {
    /*прибить футер снизу*/
    min-height: 100%;
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-sizing: border-box;
}

.page-screen {
    /*прибить футер снизу*/
    flex: 1 1 auto;
}


.header {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

/*Фиксированная плашка*/
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   /* background-color: #FFEA2F;
    background-color: #FFF;
    opacity: 0.5;*/
    z-index: 2;
}

.header-container {
    /*display: flex;*/
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

.logo {
    z-index: 3;
    max-width: 100%;
    display: block;
    padding-left: 30px;
}


.header-body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 98px;
    align-items: center;
}

.menu-list {
    display: flex;  /*отключение флекса, навигация для бургер-меню теперь вертикальная*/
    position: relative;
    z-index: 2;
    }
.menu-list li {
    list-style: none;
    margin: 0 0 0 20px;
    }
.nav-link {
    font-size: 24px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    }



/*Бургер-меню*/
   .header-burger {
    margin-left: 15px;
    display: none;
}

@media screen and (min-width: 768px) {
    .header-burger {
    margin-left: 30px;
    }
}


/*Рисуем бургер*/
@media screen and (max-width: 1199px) {
    body.lock {
    overflow: hidden; /*JS отключение скролла, когда бургер-меню активно*/
    }
   .header-body {
    height: 98px; 
    }
   .header-burger {
    display: block;
    position: relative;
    width: 32px;
    height: 22px;
    /*чтобы вытащить бургер-меню наверх*/
    position: relative;
    z-index: 3;
    }
    /*следующие два класса можно объединить*/
    .header-burger span {
        position: absolute;
        background-color: #000;
        left: 0;
        width: 100%;
        height: 3px;
        top: 9px;
        /*анимация исчезновения*/
        transition: all 0.3s ease 0s;
    }
    .header-burger:before,
    .header-burger:after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 3px;   /*ширина линий*/
        left: 0;
        /*анимация исчезновения*/
        transition: all 0.3s ease 0s;
    }
    .header-burger:before {
        top: 0;
    }
    .header-burger:after {
        bottom: 0;
    }

    /* JS header__burger с классом active*/
    .header-burger.active span {
        transform: scale(0);
    } 

    .header-burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header-burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }


 /*Оформление шапки для раскрытого бургер меню*/
    .nav {
        position: fixed;
        top: -100%; /*чтобы меню выезжало сверху*/
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /*чтобы навигация бургер-меню скролилась, если список не помещается на экране*/
        background-color: #FFF;
        transition: all 0.3s ease 0s;
        padding: 130px 40px 20px 40px;
        text-transform: uppercase;
        opacity: 0.9;
        box-sizing: border-box;
    }

    /*JS навигация выдвигается сверху из-под шапки при нажатии на бургер-меню*/
    .nav.active {
        top: 0;
    }

    .menu-list {
        display: block;
    }

    .menu-list li {
        list-style: none;
        margin: 0 0 40px 0;
    }
}


/*Вытащить текст из-под шапки*/
     .block {
    padding: 110px 0 0 0;
}

@media screen and (max-width: 1023px) {
    .block {
        padding: 110px 0 0 0;
    }
}

@media screen and (min-width: 1024px) {
    .block {
        padding: 120px 0 0 0;
    }
}



.nav {
    font-family: Zona Pro;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
}

@media screen and (min-width: 1200px) {
    .nav {
    font-family: Akrobat;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-left: auto;
    margin-right: 95px;
    }
}

/*.menu-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0 0 0 0;
}*/

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.nav-link:hover,
.nav-link:focus {
    color: #FF0000;
}




/*Красная кнопка, смена языка*/

.language {
    height: 98px;
    width: 98px;
    display: flex;
    z-index: 3;
}

@media screen and (min-width: 1200px) {
    .language {
    height: 120px;
    width: 120px;
    }
}

   
.button-1{
    font-size: 20px;
    line-height: 25px;
}

.button {
    font-family: 'Akrobat', sans-serif;
    font-weight: 800;
    display: inline-block;
    text-decoration: none;
    border: none;    
    background-color: #CE0002;
    color: #FFF;
    cursor: pointer;
    flex-grow: 1;
    display: inline-block;
}

.button:hover,
.button:focus {
    background-color: #FE0002;
}



/*Красная кнопка "Узнать подробности" "Вакансии"*/

.details-2 {
    height: 120px;
    width: 120px;
    display: flex;
}

@media screen and (max-width: 1023px) {
    .details-2 {
        padding: 0 0 35px 0;
    }
}

@media screen and (min-width: 1024px) {
    .details-2 {
        padding: 0 0 51px 47px;
    }
}

@media screen and (min-width: 1200px) {
    .details-2 {
        padding: 0 95px 0 75px;
    }
}

.button-2 {
    text-align: left;
    padding-left: 15px;
}

.button-2 {
    font-size: 22px;
    line-height: 27px;
}

.details-3 {
    height: 94px;
    width: 192px;
    display: flex;
}

@media screen and (max-width: 1023px) {
    .details-3 {
        padding: 0 0 32px 15px;
    }
}

@media screen and (min-width: 1024px) {
    .details-3 {
        padding: 0 0 0 170px;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .details-3 {
        z-index: 1;
    }
}

@media screen and (min-width: 1200px) {
    .details-3 {
        padding: 0 0 0 75px;
    }
}

.button-3 {
    text-align: left;
    padding-left: 20px;
}

.button-3 {
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
}


.button-details-2,
.button-details-3 {
    text-decoration: none;
    color: #FFF;
}

.button-details-2::after {
    width: 90px;
    height: 16px;
    background-color: transparent;
    content: "";
    background-image: url("../img/Arrow3.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin: 30px 0 0 -90px;
    box-sizing: border-box;
}

.button-details-3::after {
    width: 16px;
    height: 39px;
    background-color: transparent;
    content: "";
    background-image: url("../img/Arrow4.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin: -5px 0 0 53px;
    box-sizing: border-box;
}




/*Background-attachment устанавливает, будет ли прокручиваться фоновое изображение вместе с содержимым элемента (scroll, fixed, local)*/



/* БЛОКИ */

.block { 
    margin: auto auto;
    margin: 0;
}

.block-container {
    display: flex;
    max-width: 1920px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
}


/*Для корректного отображения элементов*/
@media screen and (max-width: 1023px) {
    .block-container,
    .block-details,
    .company-description {
    display: block;
    }
}

@media screen and (max-width: 1023px) {
    .block-container,
    .block-career {
    padding-left: 15px;
    padding-right: 15px;
    }
}
 
@media (min-width: 1024px) and (max-width: 1199px) {
    .block-container {
     flex-flow: column wrap;
    }
} 

.aside {
    display: flex;
    flex-flow: column wrap;
}

@media screen and (max-width: 1023px) {
    .aside {
    display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .block-blue .aside {
    display: none;
    }
}

@media screen and (min-width: 1200px) {
    .block-blue .aside {
    padding: 0 0 0 91px;
    }
    .block-yellow .aside {
    padding: 0 0 0 86px;
    }
}



.aside .socials-link {
    margin-bottom: 10px;
}

.block-content {
    justify-content: space-between;
}

.block-description {
   display: flex;
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .block-description {
    display: block;
    }
}

@media screen and (min-width: 1200px) {
    .block-description {
    display: flex;
    }
}

.block-details {
    order: 1; /*меняет местами блок с иконками socials-link и блок с описанием .block-details*/
}

.block-yellow .block-details {
     display: flex;
     }

@media screen and (max-width: 1023px) {
.block-yellow .block-details {
     display: block;
     }
}


/* Звголовки h1, h2 и параграфы p*/

h1 {
    font-family: 'Zona Pro', sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    text-transform:uppercase;
    margin: 0;
}

.company {
    max-width: 352px;
}
.career {
    max-width: 262px;
}

@media screen and (min-width: 1024px) { 
    h1 {
    font-size: 72px;
    line-height: 85px;
    }
    .company {
    max-width: 867px;
    }
    .career {
    max-width: 603px;
    }
}


h2 {
    font-family: Zona Pro;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
}

p {
    font-family: 'Akrobat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;  
}

.company-description {
    max-width: 345px;
}

.career-description {
    max-width: 335px;
}

@media screen and (min-width: 1024px) {
    .company-description {
    font-size: 24px;
    line-height: 30px;
    max-width: 459px;
    }
    .career-description {
    font-size: 24px;
    line-height: 30px;
    max-width: 606px;
    }
}

@media screen and (min-width: 1200px) {
    .company {
    max-width: 1077px;
    }
    .career {
    max-width: 603px;
    }
}

@media screen and (min-width: 1920px) {
    .company {
    max-width: 1077px;
    }
    .career {
    max-width: 603px;
    }
}



@media screen and (min-width: 1200px) { 
    .mobile-description {
    display: none;
    }
}

@media screen and (max-width: 1199px) { 
   .desktop-description {
    display: none;
    }
}




@media screen and (max-width: 1023px) {
    .block-yellow h1 {
        padding: 0 0 20px 0;
    }
    .block-blue h1 {
        padding: 0 15px 24px 15px;
    }
    .career-description{
         padding: 0 0 24px 18px;
         width: 335px;
    }
}

@media screen and (min-width: 1024px) {
    .block-blue h1 {
        padding: 0 0 37px 170px;
    }
    .career-description{
         padding: 0 0 43px 170px;
    }
}

@media screen and (min-width: 1200px) {
    .block-yellow h1 {
    padding: 0 0 70px 86px;    
    }
    .block-blue h1 {
        padding: 0 0 47px 187px;
    }
    .career-description{
         padding: 0 0 73px 73px;
    }
}


/*Карточки вакансий*/

.vacancy-block {
    max-width: 1920px;
    margin: 0;
    margin: auto;
    align-items: center;
    box-sizing: border-box;
}


.vacancy {
    font-family: Zona Pro;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    padding-left: 15px;
}

@media screen and (min-width: 1024px) {
    .vacancy {
    font-size: 72px;
    line-height: 85px;
    padding-left: 45px;
    }
}

.vacancy-container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 30px;*/
    box-sizing: border-box;
}


.vacancy-item {
    background-color: #F5F5F5;
    font-family: Akrobat;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    padding: 250px 0 50px 20px;
    box-sizing: border-box;
}

.vacancy-item:not(:last-child) {
     margin-bottom: 30px;
}


@media screen and (min-width: 1024px) {
    .vacancy-item:not(:last-child) {
    margin-bottom: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .vacancy-item:not(:last-child) {
    margin-bottom: 15px;
    }
}



/*Карточки вакансий*/

@media screen and (max-width: 1023px) {
    .vacancy-container {
    width: 375px; 
    padding-left: 15px;
    padding-right: 15px;
    }
}


@media screen and (min-width: 1024px) {
    .vacancy-container {
    width: 1024px; 
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    }
    .vacancy-item {
    width: 450px;
    margin: 15px;
    padding-top: 360px;
    padding-bottom: 50px;
    }
}



@media screen and (min-width: 1200px) {
    .vacancy-container {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    }
    .vacancy-item {
    width: 350px;
    margin: 15px;
    padding-top: 250px;
    padding-bottom: 10px;
    }
}

@media screen and (min-width: 1920px) {
    .vacancy-container {
    width: 1920px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 118px;
    padding-right: 118px;
    justify-content: center;
    }
    .vacancy-item {
    width: 505px;
    margin: 20px;
    padding-top: 415px;
    padding-bottom: 50px;
    }
}

/* Преимущества */

.benefits {
    font-family: Zona Pro;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    padding: 0 15px;
    max-width: 400px;
    margin-bottom: 24px;
}

.block-benefits-description {
    margin-bottom: 55px;
}

.benefits-description {
    padding: 0 15px;
    margin-bottom: 20px;
}

@media screen and (min-width: 1024px) {
    .benefits {
    font-size: 72px;
    line-height: 85px;
    padding-left: 45px;
    }
}

@media screen and (min-width: 1024px) {
    .benefits-description {
    font-size: 24px;
    line-height: 30px;
    padding-left: 45px;
    max-width: 620px;
    max-height: 255px;
    }
}

/*.block-benefits-description {
    display: flex;
    flex-flow: column wrap;
}*/

/*.block-content-benefits {
    display: flex;
}*/

.block-bonus {
    display: flex;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 0 15px;
    box-sizing: border-box;
    /*justify-content: center;*/
    flex-flow: wrap;
}

.bonus {
    display: flex;
    flex-flow: column wrap;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.frame-bonus {
    /*background: linear-gradient(to right, #F5F5F5 50%, #FFF 50%);*/
    background-color: #F5F5F5;
    box-sizing: border-box;
}

.bonus-heading {
    font-family: Akrobat;
    font-weight: 900;
    font-size: 19px;
    line-height: 25px;
}

.span-bonus {
    font-family: Akrobat;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

@media screen and (max-width: 1023px) {
    .bonus {
    width: 151px;
    margin-bottom: 30px;
    }
    .frame-bonus {
    width: 86px;
    height: 86px;
    margin-bottom: 12px;
    padding: 15px 0 0 20px;
    }
    .bonus:nth-child(1n) {
    margin-right: 15px;
    }
}


@media screen and (min-width: 1024px) {
    .block-bonus {
    margin-bottom: 40px;
    padding: 0 50px;
    }
    .bonus-heading {
    font-size: 44px;
    line-height: 55px;
    }
    .span-bonus {
    font-size: 24px;
    line-height: 30px;
    }
    .bonus {
    width: 294px;
    margin-bottom: 38px;
    }
    .frame-bonus {
    width: 145px;
    height: 140px;
    margin-bottom: 19px;
    padding: 20px 0 0 40px;
    }
    .bonus:nth-child(1n) {
    margin-right: 50px;
    }
}


@media screen and (min-width: 1200px) {
    .block-bonus {
    margin-bottom: 100px;
    }
    .block-content-benefits {
        display: flex;
        justify-content: space-between;
    }
    .block-benefits-description {
        width: 900px;
    }
}









/*Подвал*/

.footer {
    background-color: #EFEFEF;
    margin: 0;
}


.footer-container {
    display: flex;
    max-width: 1920px;
    justify-content: space-between;
    margin: 0;
    padding: 0 10px 0 10px;
    margin: auto;
    align-items: center;
    height: 54px;
    box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
    .footer-container {
    padding: 0 27px 0 27px;
    }
}

.footer-coopyright{
    font-family: Akrobat;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #7E7E7E;  
}

.footer-nav {}

@media screen and (max-width: 1023px) {
    .footer-nav {
    display: none;
    }   
}

.footer-nav-link {
    text-decoration: none;
    font-family: Akrobat;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #7E7E7E;
}

.footer-nav-link:not(:last-child) {   
    margin-right: 10px;
}

@media screen and (min-width: 1200px) {
    .footer-nav-link:not(:last-child) {   
    margin-right: 35px;
    }
}    

.footer-socials {
    max-width: 200px;
}

.socials-link {}
/*.socials-link:not(:last-child) */




/* Поэкранная прокрутка */

.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden; /*Фактически отключает стандартный скролл, чтобы контент занимал только размер экрана*/
}

@media screen and (min-width: 1200px) {
.page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.screen {
    flex: 1 0 100%; 
    position: relative;
}

.block-blue {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden; /*чтобы не выходило за границы экрана*/
}

.vacancy-block {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.page-pagination {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0 px, -50%);
    display: flex;
    flex-direction: column;
}

/*Точки-буллиты*/
.page-bullet {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    transition: background-color 0.3s ease 0s;
}

/*Активные точки*/
.page-bullet-active {
    background-color: #CE0002;
}

/*Кастомный скролл*/
.page-scroll {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 4px;
    background-color: rgba(0, 0, 0, 0.2);
}
/*Ползунок*/
.page-drag-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    }
}



/* Порядок элементов */

@media screen and (max-width: 1023px) {
    .company {
    order: 0;
    }
    .company-description {
    order: 2;
    margin-top: -20px;
    }
    .details-2 {
    order: 1; 
    }
}

@media screen and (min-width: 1024px) {
    .details-2 {
    padding-top: 25px;
    padding-right: 66px;
    }
    .company-description {
    padding-top: 15px;
    }
    .details-2 {
   /* padding-top: 109px;*/
    }
    .company-description {
     padding-top: 35px;
    }
}




/* Изображения */

@media screen and (min-width: 1200px) {
   .frame-unicorn {
    margin-right: 10px;
    margin-left:  -10px;
   }
   .frame-light {
    margin-right: 300px; 
    }
}

@media screen and (max-width: 1023px) {
    .frame-unicorn {
        display: none;
    }
    .frame-unicorn-mobile {
        padding-bottom: 69px;
    }
}

@media screen and (min-width: 1024px) {
    .frame-unicorn-mobile {
        display: none;
    }
}
